

<script type="text/javascript" >

$.namespace('azkaban');

var ${prefix}PanelView;
azkaban.${prefix}PanelView= Backbone.View.extend({
  events : {
  	"click #cancel-${prefix}-btn": "hide${prefix}Panel",
  	"click #set-${prefix}-btn": "set${prefix}",
  	"click #addData": "addData",
  	"click #addVar": "addVar",
  	"click #removeEntry": "removeEntry"
  },
  initialize : function(settings) {
	var triggerURL = contextURL + "/${webpath}";
	var requestData = {};
	requestData.ajax = "fetchConfig"
	requestData.async = false;
	var dataSource;
	var configMessage;
	$.get(
			triggerURL,
			requestData,
			function(data) {
				if (data.error) {
					messageDialogView.show("Error Getting Config info", data.message);
				}
				else {
					this.dataSource = data.dataSource;
					this.configMessage = data.configMessage;
					this.hdfsUser = data.hdfsUser;
					$('#datasource').val(this.dataSource);
					$('#hdfsuser').val(this.hdfsUser);
				}
			},
			"json"
	);
	
  },
  render: function() {
  },
  show${prefix}Panel: function() {
  	$('#${prefix}ModalBackground').show();
  	$('#${prefix}-panel').show();
  },
  hide${prefix}Panel: function() {
  	$('#${prefix}ModalBackground').hide();
  	$('#${prefix}-panel').hide();
  },
  addData : function() {
  	var parent = $('#datapattern');
	$('<p><label for="datapattern"><input type="text" value="" placeholder="Dependent Data Pattern"/></label><a id="removeEntry">Remove</a></p>').appendTo(parent);
  },
  addVar : function() {
  	var parent = $('#variables');
	$('<p><label for="variables"><input type="text" value="" placeholder="Name"/><input type="text" value="" placeholder="Start"/><input type="text" value="" placeholder="Increment"/></label><a id="removeEntry">Remove</a></p>').appendTo(parent);
  },
  removeEntry : function() {
  	$(event.target).parent().remove();
  },
  set${prefix}: function() {
  
  	var triggerURL = contextURL + "/${webpath}"
  	
  	var triggerData = flowExecuteDialogView.getExecutionOptionData();
	
	var patterns = {};
	var i = 0;
	$('#datapattern input').each(function() {
		//patterns.push($(this).val());
		patterns[i] = $(this).val();
		i++;
	});
	triggerData.patterns = patterns;
	
	var vars = {};
	$('#variables label').each(function() {
		var children = $(this).find('input');
		//vars.push($(children[0]).val()+','+$(children[1]).val()+','+$(children[2]).val());
		vars[$(children[0]).val()] = $(children[1]).val()+','+$(children[2]).val();
	});
	triggerData.variables = vars;
	
	triggerData.ajax = "setTrigger";
	triggerData.projectName = projectName;
	triggerData.hdfsuser = $('#hdfsuser').val();

	$.post(
			triggerURL,
			triggerData,
			function(data) {
				if (data.error) {
					messageDialogView.show("Error Setting Trigger", data.message);
				}
				else {
					messageDialogView.show("Flow Trigger Set", data.message,
					function() {
						window.location.href = triggerURL;
					}
					);
				}
			},
			"json"
	);
  }
});


$(function() {
	${prefix}PanelView =  new azkaban.${prefix}PanelView({el:$("#${prefix}ModalBackground")});
	$('#set-${prefix}').click(function() {${prefix}PanelView.show${prefix}Panel();})
});


</script>

<div id="${prefix}ModalBackground" class="modalBackground3">
	<div id="${prefix}-panel-top">
		<div id="${prefix}-panel" class="modal">
			<a href='#' title='Close' class='modal-close'>x</a>
			<h3>${prefix} Options</h3>

			<div id="${prefix}Info">
				<label>Data Source</label> <input type="text" value="" id="datasource" readonly /> <br>
				<label>Hdfs User</label> <input type="text" value="" id="hdfsuser"/> <br>
			
				<div id="datapattern">Data Patterns
					<a id="addData" class="button"> Add Another Data Pattern</a>
					<p>
						<label for="datapattern">
							<input type="text" value="" placeholder="Dependent Data Pattern"/>
						</label>
					</p>
				</div>
				<div id="variables">Variables
					<a id="addVar" class="button"> Add Another Variable</a>
					<p>
						<label for="variables">
							<input type="text" value="" placeholder="Name"/>
							<input type="text" value="" placeholder="Start"/>
							<input type="text" value="" placeholder="Increment"/>
						</label>
					</p>
				</div>
			</div>
			
			<div id="${prefix} Actions">
				<p>
					Execute This Flow with Options
				<p>
			</div>

			<div class="actions">
				<a class="yes btn1" id="set-${prefix}-btn" href="#">Set Trigger</a>
				<a class="no simplemodal-close btn3 " id="cancel-${prefix}-btn" href="#">Cancel</a>
			</div>
		</div>
	</div>
</div>

