#*
 * Copyright 2012 LinkedIn Corp.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

<!DOCTYPE html> 
<html>
	<head>
		<title>#appname()</title>
		<link rel="stylesheet" type="text/css" href="${context}/pigvisualizer/css/azkaban.css" /> 
		<link rel="shortcut icon" href="${context}/favicon.ico" />
		<style type="text/css">
			.enviro-name {
				color: ${azkaban_color};
			}
			.header {
				border-top-color: ${azkaban_color};
			}
			.nav .selected a {
				border-bottom-color: ${azkaban_color};
			}
		</style>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<script type="text/javascript" src="${context}/js/jquery/jquery-1.9.1.js"></script>    
		<script type="text/javascript" src="${context}/js/jqueryui/jquery-ui-1.10.1.custom.js"></script>
		<script type="text/javascript" src="${context}/pigvisualizer/js/dust-full-2.2.0.js"></script>
		
		<script type="text/javascript" src="${context}/js/underscore-1.4.4-min.js"></script>
		<script type="text/javascript" src="${context}/js/namespace.js"></script>
		<script type="text/javascript" src="${context}/js/backbone-0.9.10-min.js"></script>
		<script type="text/javascript" src="${context}/js/jquery.simplemodal-1.4.4.js"></script>

		<script type="text/javascript" src="${context}/js/azkaban.ajax.utils.js"></script>
		<script type="text/javascript" src="${context}/js/azkaban.nav.js"></script>
		<script type="text/javascript" src="${context}/pigvisualizer/js/azkaban.layout.js"></script>
		<script type="text/javascript" src="${context}/pigvisualizer/js/azkaban.context.menu.js"></script>
		<script type="text/javascript" src="${context}/pigvisualizer/js/azkaban.svg.graph.helper.js"></script>
		<script type="text/javascript" src="${context}/pigvisualizer/js/azkaban.svg.graph.view.js"></script>
		<script type="text/javascript" src="${context}/pigvisualizer/js/svgNavigate.js"></script>
		<script type="text/javascript" src="${context}/pigvisualizer/js/azkaban.jobvisualizer.view.js"></script>
		<script type="text/javascript" src="${context}/pigvisualizer/js/jobdetails.js"></script>
		<script type="text/javascript">
			var errorMessage = null;
			var successMessage = null;
			var contextURL = "${context}";

			var execId = ${execId};
			var jobId = "${jobId}";
			var flowId = "${flowId}";
			var projectName = "${projectName}";
		</script>

		<link rel="stylesheet" type="text/css" href="${context}/pigvisualizer/css/azkaban-graph.css" />
	</head>
	<body>

#set($current_page="$viewerName")
#parse("azkaban/webapp/servlet/velocity/nav.vm")

	<div class="content">
		
		#if($errorMsg)
      <div class="box-error-message">$errorMsg</div>
		#else
			#if($error_message != "null")
	    <div class="box-error-message">$error_message</div>
			#elseif($success_message != "null")
      <div class="box-success-message">$success_message</div>
			#end
		#end

			<div id="visualizer-content">
				<div class="section-hd">
					<h2><a href="${context}pigvisualizer?execid=${execId}&jobid=${jobId}">${jobId} Pig Job Visualization</a></h2>
					<div class="section-sub-hd">
						<h4><a href="${context}/manager?project=${projectName}">Project <span>$projectName</span></a></h4>
						<h4 class="separator">&gt;</h4>
						<h4><a href="${context}/manager?project=${projectName}&flow=${flowId}">Flow <span>$flowId</span></a></h4>
						<h4 class="separator">&gt;</h4>
						<h4><a href="${context}/executor?execid=${execId}">Execution <span>$execId</span></a></h4>
						<h4 class="separator">&gt;</h4>
						<h4><a href="${context}/manager?project=${projectName}&flow=${flowId}&job=${jobId}">Job <span>$jobId</span></a></h4>
						<h4 class="separator">&gt;</h4>
						<h4><a href="${context}pigvisualizer?execid=${execId}&jobid=${jobId}">Job Visualization</a></h4>
					</div>
				</div>
			</div>
			
			<div class="visualizer-content">
				<div id="graphView">
					<div class="relative">

## Sidebar for displaying list of jobs and stats.

						<div id="jobStats" class="jobStats">
							<div id="jobstats-list">
								<div id="list" class="list">
								</div>
								<div id="flowGraphOptions">
									<div id="autoPanZoom">
										<input type="checkbox" id="autoPanZoomCheckbox" class="autoPanZoom" value="autoPanZoom" /><label for="autoPanZoom">Auto Pan Zoom</label>
									</div>
									<div id="resetPanZoomBtn" class="btn5 resetPanZoomBtn">Reset Pan Zoom</div>
								</div>
							</div>
							<div id="jobstats-details">
							</div>
						</div>

## SVG graph.

						<div id="svgDiv" class="svgDiv">
							<svg id="svgGraph" class="svgGraph" xmlns="http://www.w3.org/2000/svg" version="1.1" shape-rendering="optimize-speed" text-rendering="optimize-speed">
							</svg>
						</div>

					</div><!-- /relative -->
				</div><!-- /graphview -->
			</div><!-- /visualizer-content -->
		</div><!-- /content -->
		<div id="contextMenu">
		</div>
	</body>
</html>
