/* Edit page */
legend  { border-bottom: 1px solid #DDD; }

.reportal-list li { border-bottom: 1px solid #DDD; margin: 9px 0; min-height: 140px; position: relative; }

#report-variables li { list-style-type: none; border-bottom: 1px solid #DDD; margin: 9px 0; min-height: 140px; position: relative; }

#report-access li { list-style-type: none; border-bottom: 1px solid #DDD; margin: 9px 0; min-height: 140px; position: relative; }

#report-alerts li { list-style-type: none; border-bottom: 1px solid #DDD; margin: 9px 0; position: relative; }

button .icon { margin-right: 5px; margin-top: -2px }

.query-actions { top: 0; left: 0; overflow: hidden; display: inline; }
.query-actions .btn { float: left; }
.ec-add-list-actions { position: relative; top: 0; left: 0; overflow: hidden; display: inline; }
.ec-add-list-actions .btn { float: left; }
.query-actions .btn.delete { float: right; }
.ec-add-list-actions .btn.delete { float: right; }
textarea { width:100%; }
li.reportal-list-item textarea { height: 250px; box-sizing: border-box; -moz-box-box-sizing: border-box; -webkit-box-sizing: border-box;}
li.reportal-list-item input[id$=title] { width: 400px ;}
li:hover .ec-add-list-actions { visibility: visible; }

.hide { display: none; }


/* Icons */
.icon {
  display: inline-block;
  height: 12px;
  width: 12px;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon.icon-medium {
  height: 16px;
  width: 16px;
}

.icon.icon-cog { background-image: url(/reportal/images/cog.png); }

.icon.icon-mail { background-image: url(/reportal/images/mail.png); }
.icon.icon-mail-dark { background-image: url(/reportal/images/mail_blue.png); }

.icon.icon-bookmark { background-image: url(/reportal/images/tag.png); }
.icon.icon-bookmark-dark { background-image: url(/reportal/images/tag_blue.png); }

.icon.icon-arrow-up { background-image: url(/reportal/images/arrow_up.png); }

.icon.icon-arrow-down { background-image: url(/reportal/images/arrow_down.png); }

.icon.icon-plus-alt { background-image: url(/reportal/images/plus.png); }


th.headerSortUp { background-image: url(/reportal/images/asc.gif); }
th.headerSortDown { background-image: url(/reportal/images/desc.gif); }
.header {
  background-image: url(/reportal/images/bg.gif);
  cursor: pointer;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center right;
}

/* Buttons */

.btn-icon { color: #AAA; display: inline-block; padding: 7px; }
.btn-icon.on { color: #0065CD; }

.btn-left { -moz-border-radius: 4px 0 0 4px; -webkit-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }
.btn-middle { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;}
.btn-middle,
.btn-right { border-left: 0; }
.btn-right { -moz-border-radius: 0 4px 4px 0; -webkit-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;}

.right { float: right; margin-left: 10px; }

.tools-autocomplete .ui-active-menu-item { background-color: #DDD; }

form label .required { color: red; }


ol#query-list {
  list-style:decimal;
}

ol {
  margin-left:40px;
}

ol li div.control-group {
  margin-left: -40px;
}

.CodeMirror {
  overflow-y: hidden;
  margin-left: 0px;
  width: 620px;
}

.CodeMirror * {
  font-size: 14px;
}

/* List page */

/* Search */
#search-facet-form.form-stacked { padding-left: 0; }
#search-facet-form.form-stacked .clearfix { margin-bottom: 4px; }
#search-facet-form .input-list-label { border-bottom: 1px solid #DDD; }
#search-facet-form .facet-input { padding-left: 16px; line-height: 18px; }
#search-facet-form .facet-input input { margin-bottom: 6px; }

/* Results */
.report-actions { float: right; }
.report-actions .btn a:hover { text-decoration: none; }
.report-actions .btn-icon { float: left; line-height: 0; }

.btn-dropdown { position: relative; float: left; }
.btn-dropdown .dropdown-menu { top: 27px; left: -1px; -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
.btn-dropdown.visible .btn-icon { background: #FFF; -moz-border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; border-radius: 0 4px 0 0; z-index: 1000; }
.btn-dropdown a:hover.dropdown-toggle { text-decoration: none; }

.btn-dropdown .dropdown-toggle:after { border-top-color: #000; margin-top: 4px; }

table#report-results td { vertical-align: middle; }

/* Data page */
.center {
  float: right;
  margin-left: 10px;
}

.column-title {
  float: right;
}
.column-data {
  float: right;
}

.no-wrap {
  white-space: nowrap;
}

.box-success-message {
  background-color: #4e911e;
  margin: 0px 2px;
  padding: 2px 12px;
  color: white;
}

.box-error-message {
  background-color: #C00000;
  margin: 0px 2px;
  padding: 2px 12px;
  color: white;
}

#jobLogView {
  top: 210px;
  bottom: 5px;
}

.logViewer {
  position: absolute;
  top: 300px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background-color: #FFF;
  overflow:auto;
}

.logLink {
  text-align: center;
}

.logLink a {
  text-decoration: underline;
  margin: 0px;
}

.log {
  padding-left: 15px;
  font-family: "courier";
  font-size: 10pt;
}
